[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = https://github.com/zombor/KOstache.git
[submodule "application/vendor/Eadrax/Eadrax"]
	path = application/vendor/Eadrax/Eadrax
	url = git@github.com:Eadrax/Eadrax.git
[submodule "application/vendor/Eadrax/Repository-MySQL"]
	path = application/vendor/Eadrax/Repository-MySQL
	url = git@github.com:Eadrax/Repository-MySQL.git
